html {
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: red;
    box-shadow: 1px 1px 1px 5px red ;
}
#button:hover{
    background-color: rgb(212, 200, 200);
    color: red;
    cursor: pointer;
}
#button:active{
    box-shadow: 0 0 1px 5px rgb(211, 35, 35) ;
}